
<form [formGroup] ="loginform">
    <div class="container">
        <h3>Admin Login</h3>
        <label>Email Id:</label>&nbsp;&nbsp;
        <input type="text" placeholder="User Name" formControlName="Email"/><br>
        <div *ngIf="Email && Email.invalid && Email.touched" class="text-danger">Email is required</div>
        
        <label>Password:</label>&nbsp;&nbsp;
        <input type="Password"  placeholder="Password"   formControlName="password"><br>
        <div *ngIf="password && password.invalid && password.touched" class="text-danger">Password is required</div>
        
        <button (click)="dologin()" [disabled]="!loginform.valid"  class="btn btn-primary" >LOGIN</button> &nbsp;&nbsp; 
        <p><a routerLink="/Resetpassword">Forgot password?</a></p>
        
        
    </div>
</form>
