<p>User Registration Form!</p>



<form [formGroup]="registrationform">


   
    <div class="container">
        <h2>User Registration</h2>
          <label>Full Name:</label>
          <input   type="text"class="form-control" formControlName="fullname" ><br/><br/>
          <div *ngIf="fullname && fullname.invalid && fullname.touched"  class="text-danger">username is required</div>
        



       
          <label>Email:</label>
          <input  type="text"class="form-control" formControlName="email" ><br/><br/>
          <div *ngIf="email && email.invalid && email.touched" class="text-danger">email is required</div>
        
  
   

    
        
          <label>Password:</label>
         <input type="password"class="form-control" formControlName="password" >
         <div *ngIf="password && password.invalid && password.touched" class="text-danger" >password is required</div>
       
        
         <label>Confirm password:</label>
         <input  type="text"class="form-control" formControlName="confirmpassword" >
         <div *ngIf="confirmpassword && confirmpassword.invalid && confirmpassword.touched" class="text-danger">Password and confirmpassword not match</div>
       
         <div class="form-group">
            <label>Date of Birth:</label>
           <input  type="date"class="form-control" formControlName="dob" >
           <div *ngIf="dob && dob.invalid && dob.touched" class="text-danger">Date of Birth is required</div>
     </div>

               


      


     <div class="form-group">
        <label>State:</label>
        <input  type="text"class="form-control" formControlName="state" >
        <div *ngIf=" state && state.invalid && state.touched"class="text-danger">State is required</div>
      
   </div>


     <div class="form-group">
         <label>City:</label>
         <input  type="text"class="form-control" formControlName="city" >
         <div *ngIf="city && city.invalid && city.touched" class="text-danger">city is required</div>
     </div>
        
       

     
        
                
               

        
        <div class="form-group">
            <label>Qualification:</label>
               <input  type="text"class="form-control" formControlName="qualification" >
               <div *ngIf="qualification && qualification.invalid && qualification.touched" class="text-danger">qualification is required</div>
       </div>
        <div class="form-group">
            <label>Year of Complition:</label>
            <input  type="date"class="form-control" formControlName="yearOfCompletion" >
            <div *ngIf="yearOfCompletion && yearOfCompletion.invalid && yearOfCompletion.touched" class="text-danger">Year Of Complition is required</div>
        </div>
         <div class="form-group">
           <label>Contact No:</label>
           <input  type="text"class="form-control" formControlName="mobileNo" >
           <div *ngIf="mobileNo && mobileNo.invalid && mobileNo.touched" class="text-danger">Contact Number is required</div>
       </div>


            <button class="btn btn-primary" (click)="setRecord()"[disabled]="!registrationform.valid" >Registration</button>
    
     </div>      
</form>
    
