container {
    padding: 16px;
    width: 350px;
    margin: auto;
    border: groove;
    width: 700px;
    height:1100px;
    margin: auto;
    padding: 2em
  }
  input,button,select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }