<p>exampage works!</p>

    <form>
        <div class="form-group">
        <p class="left">select Exam</p>
        <p><a class="right" routerLink="#">Logout</a></p>
        <button routerLink="/startexam" type="submit">Java</button>
        <button routerLink="/startexam" type="submit">SQL</button>
        <button routerLink="/startexam" type="submit">PHP</button>
        <button routerLink="/startexam" type="submit">C++</button>
        <button routerLink="/startexam" type="submit">Python</button>
        <button routerLink="/startexam" type="submit">C#.Net</button>
    </div>
    </form>
