<p>login works!</p>
<form #login="ngForm">
    <div class="container">
    <h4>Login</h4>
    <div class="container">
        <label >Email:</label>
    <div class="from-group">
       
        <input type="text" placeholder="Email" name="Email"  [ngModel]="Email" #email=ngModel />
    </div>
    <label > password:</label>
    <div class="form-group">
       
        <input type="password" placeholder="Password" name="password" />&nbsp;
       

    </div>
    <a routerLink="/Resetpassword"> forgot password?</a>
    <div class="form-group">
        <button  class="btn btn-primary"type="Submit">Login</button>
    </div>
    <h6>Don't have an account<a routerLink="/Registration">Register</a></h6>
</div>
</div>
</form>