<div class="header">
    <p>About Us</p>
</div>
<div class="row">
    <div class="column" style="background-color:#FF665A;height: 200px;">
     
        <h4>Ajinath Sawant</h4><br>
        <p><i>I believe that I am hard working, very attentive to detail orientation and a Team player.</i> </p>
    </div><hr>
    <div class="column" style="background-color:#FF8C64;height: 200px;">
       
         <h4>Roshani Rajput</h4><br>
         <p><i>I am a hard-working , responsible person and driven individual who isn't afraid to face a challenge.</i> </p>
     </div><hr>
     <div class="column" style="background-color:#3EB595;height: 200px;">
       
         <h4>Hitesh Bharadiya</h4><br>
         <p><i>I'm a passionate ,helpful person who is enthusiastic and loves challenges.</i> </p>
     </div><hr>
     <div class="column" style="background-color:#3EB595;height: 200px;">
     <h4>Nagateja Mathi</h4><br>
         <p><i>I'm a passionate ,helpful person who is enthusiastic and loves challenges.</i> </p>
     </div><hr>
</div>
