<p>startexam works!</p>
<form>
    
<div class="divelement">
    <h4>Instruction for Technical Test</h4>
<ul><li>You must use a functioning webcam and microphone</li>
<li>No cell phones or other secondary devices in the room or test area</li>
<li>Your desk/table must be clear or any materials except your test-taking device</li>
<li>No one else can be in the room with you</li>
<li>No talking</li> 
<li>The testing room must be well-lit and you must be clearly visible</li>
<li>No dual screens/monitors</li>
<li>Do not leave the camera </li>
<li>No use of additional applications or internet</li>
</ul>
<button type="submit" class="btn btn-primary">Start Exam</button>
</div>
</form>