<p>resetpassword works!</p>
<form #resetpassword="ngForm">
    <h4>Reset Password</h4>
    <div class="container">
        <label >New Password:</label>
    <div class="from-group">
       
        <input type="password" placeholder="New password" name="newpassword"  [ngModel]="newpassword" #password=ngModel />
    </div>
    <label > Confirm password:</label>
    <div class="form-group">
       
        <input type="text" placeholder=" Confirm Password" name="cpassword" />&nbsp;
        

    </div>
    <div class="form-group">
        <button  class="btn btn-primary"type="Submit">Reset</button>
    </div>
    
</div>
</form>