



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <a class="navbar-brand">Online Exam System </a>

   
  <ul class="nav nabar-nav">
    <li class="Active"><a  routerLink="/home">Home</a></li>
    <li><a routerLink="about">About Us</a></li>
  
    <div class="dropdown">
      <button class="dropbtn">Login
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="login">User</a>
        <a routerLink="admin">Admin</a>
        
      </div>
    </div>
    <li><a routerLink="Regisration">Register</a></li>
   
  </ul>
  <form class="navbar-form navbar-left" action="action_page.php">

  </form>
 
</div>
</nav>


<footer class="footer">
    &copy;  2020 Larsen & Tourbo Infotech Limited
</footer>

<router-outlet></router-outlet>
