 <p>conduct-exam works!</p>


  <h4>Exam</h4>

  
  <p id="lbtimeleft"></p>
   <script>
  
   </script>

  <button id="btntime"></button>








<form [formGroup]="examconduct" >
    <h2>{{questionlist[currentQuetion]?.level}}</h2>
<h3></h3>
<h3>{{questionlist[currentQuetion]?.questionNo}}<span>&nbsp;</span>{{questionlist[currentQuetion]?.question}}</h3>



<input ngbButton id="rd" type="radio" value="{{questionlist[currentQuetion]?.option1}}"formControlName="student_response"/>{{questionlist[currentQuetion]?.option1}}<br/>
                    
                   
<input ngbButton  id="rd"type="radio" value="{{questionlist[currentQuetion]?.option2}}"formControlName="student_response"/>{{questionlist[currentQuetion]?.option2}}<br/>


<input ngbButton id="rd" type="radio" value="{{questionlist[currentQuetion]?.option3}}"formControlName="student_response"/>{{questionlist[currentQuetion]?.option3}}<br/>


<input ngbButton id="rd" type="radio" value="{{questionlist[currentQuetion]?.option4}}" formControlName="student_response"/>{{questionlist[currentQuetion]?.option4}}<br/>

<br/>
<div class="checkd" name="option" > </div>
<br/>

<button class="btn btn-primary"[disabled]="questionlist[currentQuetion]?.questionNo===null"  (click)="nextQuestion()" (click)="Answeres()" >Next</button>&nbsp;&nbsp;
<button class="btn btn-info" routerLink="/Report">Finish</button>
</form>


