<!-- <p>conduct-exam works!</p>


  <h4>Exam</h4>

  <!--
  <p id="lbtimeleft"></p>
   <script>
       
  function startCoundown(timeLeft)
  {
       var interval =setInterval(countdown,10000);
       Update();

       function countdown(){
           if(--timeLeft>0)
           {
               Update();

           }
           else{
               clearInterval(interval);
               Update();
               completed();
           }
       }

       function Update()
       {
           const hours=Math.floor(timeLeft/3600);
           const minutes=Math.floor((timeLeft %3600)/60);
           const second=timeLeft%60;


           document.getElementById('lbtimeleft').innerHTML=''+hours +':'+minuts +':'+second;
       }

       function completed()
       {
           document.write("successfully completed");
       }
  }
   </script>
    
   
    <div *ngFor="let question of quetioninfo; let i=index; ">
            {{ question.questionNo}}
            {{ question.question}}<br/>
            <input type="radio" [value]="true" [(ngModel)]="question.isSelected"  >
                <span>{{question.option1}}</span>
            <input type="radio" [value]="false" [(ngModel)]="question.isSelected"   >
                <span>{{question.option2}}</span><br>
            <input type="radio" [value]="true" [(ngModel)]="question.isSelected"  >
                <span>{{question.option3}}</span>
            <input type="radio" [value]="true" [(ngModel)]="question.isSelected" >
                <span>{{question.option4}}</span>
      
    </div>


     (ngSubmit)="submit()"></form>


<form #f="ngForm">
   <ng-container *ngFor="let question of questioninfo; let i=index; ">
    <div [hidden]="question.isHidden">
    {{ question.questionNo}}
  
    {{ question.question}}<br/>
    <div *ngIf="question[i]===question[i+1]">
       <div ngbRadioGroup formControlName="options">
            <mat-radio-button ngbButton class="example-radio-button" [value]="question.option1"></mat-radio-button >
            {{ question.option1 }}

            <mat-radio-button class="example-radio-button" [value]="question.option2"></mat-radio-button>
            {{ question.option2 }}
            <mat-radio-button class="example-radio-button" [value]="question.option3"></mat-radio-button>
            {{ question.option3 }}
            <mat-radio-button class="example-radio-button" [value]="question.option4"></mat-radio-button>
            {{ question.option4 }}
                </div>
            <button class="btn btn-primary"
            (click)="questioninfo[i].isHidden = true;questioninfo[i + 1] ?questioninfo[i + 1].isHidden = false : false">Next</button>&nbsp;&nbsp;
    </div>
</div>
</ng-container>
</form>

-->


<!--<div [hidden]="question.isHidden"></div>
<button  (click)="questioninfo[i].isHidden = true;questioninfo[i + 1] ?questioninfo[i + 1].isHidden = false : false">Next</button>













-->

<form Formgroup="conductexam">
   <div *ngFor="let question of questioninfo; let i=index; ">
     
    
      
      
            <div [hidden]="question.isHidden">
                <div ngbRadioGroup formControlName="option">
                {{ question.questionNo}}
       
                {{ question.question}}
    
        
            <span id="rad">
                
                <div *ngIf="question[i]===question[i+1]">
                    <div formControlName="option">
                    <label ngbButtonLabel  >
                    <input ngbButton  type="radio" value="option.{{question.option1}})">{{question.option1}}
                    </label>
                    <label ngbButtonLabel >
                        <input ngbButton type="radio" value="{{question.option2}}">{{question.option4}}
                    </label>
                    <label ngbButtonLabel  >
                        <input ngbButton type="radio" value="{{question.option3}}">{{question.option4}}
                    </label>
                    <label ngbButtonLabel  >
                        <input ngbButton type="radio" value="{{question.option4}}">{{question.option4}}
                    </label>
                    <br/>
                </div>
                    <button class="btn btn-primary" (click)="questioninfo[i].isHidden = true;questioninfo[i + 1] ?questioninfo[i + 1].isHidden = false : false">Next</button>
                    &nbsp;&nbsp;<button class="btn btn-primary">Finish</button>
                </div>
            </span>
           
        
     </div>
    </div>
  </div>
</form>
 



