
<form [formGroup]="searchstudent">

<label>Technology:</label>
<select formControlName="SubjectName"><option>Select</option>
    <option value="java">Java</option>
    <option value="c#.Net">.NET</option>
    <option value="sql">Sql</option>
</select>

<label>State</label>
<input type="text" placeholder="State" formControlName="State"/>

<label>City:</label>
<input type="text"   placeholder="City"  formControlName="City" />


<label>Level:</label>
<select  formControlName="LevelName"><option>Select</option>
    <option value="Level_1">Level1</option>
    <option value="Level_2">Level2</option>
    <option value="Level_3">Level3</option>
</select>

<label>Marks:</label>
<input type="number" placeholder="Marks" formControlName="MarksObtained"/>
<button type="submit" class="btn btn-success"      (click)="DisplayStudent()">Search Student </button>

<br/>
<br/>
<hr/>
<table class="table">
    <thead>
      <tr>
        <th>Name:</th>
    <th>Email:</th>
    <th>Mobile No:</th>
    <th>City:</th>
    <th>State:</th>
      </tr>
    </thead>
    </table>  
    
       <tbody>
        <div *ngFor="let rec of stud">
          <tr>
            
            <td>{{rec.name}}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <td>{{rec.email}}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <td>{{rec.mobile_No}}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <td>{{rec.city}}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <td>{{rec.state}}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
            </tr>
        </div>
      </tbody>

</form>

