
<p>adminprofile works!</p>

    <form>
        <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
        <ul class="nav nabar-nav">
            <li class="Active"><a  routerLink="home">Home</a></li>
            <li><a routerLink="about">About Us</a></li>
            <li><a routerLink="#">Logout</a></li>
            
            
          </ul>
          
       
        
    </div>
    </nav>
<div class="container">
    <button class="btn btn-primary" routerLink="#" type="submit">Add Questions</button><br/>
    <button  class="btn btn-primary" routerLink="#" type="submit">Remove Questions</button><br/>
    <button  class="btn btn-primary" routerLink="/searchstudent" type="submit">View Reports</button>
</div>
    <form class="navbar-form navbar-left" action="action_page.php">
    </form>