.container {
    padding: 16px;
    width: 350px;
    margin: auto;
    border: groove;
    width: 400px;
    height: 250px;
   margin-top: 10%;
    text-align: center;
    
  }
  button{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
   
    box-sizing: border-box;
  }
  a{
    float: right;
    margin-right: 30px;
  }
  .btnright{
    float: right;
    padding:30px;
    margin-left: 10%;
    margin: auto;
    width:15%;
  }